In [97]:
import pandas as pd
import numpy as np

In [98]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [99]:
file1 = pd.read_csv("lab-customer-analysis-round-1/files_for_lab/csv_files/file1.csv")

In [100]:
file1.shape

(4008, 11)

In [101]:
file2 = pd.read_csv("lab-customer-analysis-round-1/files_for_lab/csv_files/file2.csv")

In [102]:
file2.shape

(996, 11)

In [103]:
file3 = pd.read_csv("lab-customer-analysis-round-1/files_for_lab/csv_files/file3.csv")

In [104]:
file3.shape

(7070, 11)

In [105]:
file1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [106]:
file2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [107]:
file3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [108]:
file1.rename(columns = {'ST':'State', "GENDER":"Gender"}, inplace = True)

In [109]:
file2.rename(columns = {'ST':'State', "GENDER":"Gender"}, inplace = True)

In [110]:
file1 = file1[['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class']]

file2 = file2 [['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class']]

file3 = file3 [['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class']]

In [119]:
column_names = file1.columns
column_names

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [130]:
data = pd.DataFrame(columns=column_names)
data.head()

Empty DataFrame
Columns: [Customer, State, Customer Lifetime Value, Education, Gender, Income, Monthly Premium Auto, Number of Open Complaints, Policy Type, Total Claim Amount, Vehicle Class]
Index: []

In [132]:
data = pd.concat([data,file1,file2,file3], axis=0)

In [133]:
data.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,2.704934,Four-Door Car
1,QZ44356,Arizona,697953.59%,Bachelor,F,0.0,94.0,1/0/00,Personal Auto,1131.464935,Four-Door Car
2,AI49188,Nevada,1288743.17%,Bachelor,F,48767.0,108.0,1/0/00,Personal Auto,566.472247,Two-Door Car
3,WW63253,California,764586.18%,Bachelor,M,0.0,106.0,1/0/00,Corporate Auto,529.881344,SUV
4,GA49547,Washington,536307.65%,High School or Below,M,36357.0,68.0,1/0/00,Personal Auto,17.269323,Four-Door Car

Numerical columns: Customer Lifetime Value, Income, Monthly Premium Auto, Number of Open Complaints, Total Claim Amount  
Categorical Columns: Customer, State, Education, Gender, Policy Type, Vehicle Class

In [134]:
#make column titles lower case and replace spaces with underscores
cols = []
for i in range(len(data.columns)):
    cols.append(data.columns[i].lower())
data.columns = cols
data.columns = data.columns.str.replace(' ', '_')

In [135]:
data.head()

,customer,state,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,total_claim_amount,vehicle_class
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,2.704934,Four-Door Car
1,QZ44356,Arizona,697953.59%,Bachelor,F,0.0,94.0,1/0/00,Personal Auto,1131.464935,Four-Door Car
2,AI49188,Nevada,1288743.17%,Bachelor,F,48767.0,108.0,1/0/00,Personal Auto,566.472247,Two-Door Car
3,WW63253,California,764586.18%,Bachelor,M,0.0,106.0,1/0/00,Corporate Auto,529.881344,SUV
4,GA49547,Washington,536307.65%,High School or Below,M,36357.0,68.0,1/0/00,Personal Auto,17.269323,Four-Door Car

In [136]:
#delete educations and number of open complaints columns 

data = data.drop(['education','number_of_open_complaints'], axis =1)

In [ ]:
data['column'] = data ['column'].data.replace('%','')
data['column']=data['column']*100

In [137]:
data.head()

,customer,state,customer_lifetime_value,gender,income,monthly_premium_auto,policy_type,total_claim_amount,vehicle_class
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,2.704934,Four-Door Car
1,QZ44356,Arizona,697953.59%,F,0.0,94.0,Personal Auto,1131.464935,Four-Door Car
2,AI49188,Nevada,1288743.17%,F,48767.0,108.0,Personal Auto,566.472247,Two-Door Car
3,WW63253,California,764586.18%,M,0.0,106.0,Corporate Auto,529.881344,SUV
4,GA49547,Washington,536307.65%,M,36357.0,68.0,Personal Auto,17.269323,Four-Door Car

In [ ]:
data.duplicated() #gives booleans. False if not duplicated

data.duplicated(subset="customer")

#removing duplicates
data=data.drop_duplicates()

#update indexes??   data.reset_index(drop=True) drop true means you don't get an extra column